<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="dataProvider" value="Json"/>
  <add key="FileFolder" value="SavedFiles"/>
  <add key="TasksFileName" value="Tasks.json"/>
  <add key="DayCoveredFileName" value="DayCovered.json"/>
  <add key="notificationType" value="MessageBox"/>
</appSettings>